<h1>Please enter order information</h1>

<form action="/order_post" method="post">

    <label for="account_id">Account ID:</label>
    <input id="account_id" type="number" name="order[account_id]">

    <label for="product_name">Product Name:</label>
    <input id="product_name" type="text" name="order[product_name]">

    <label for="quantity">Quantity:</label>
    <input id="quantity" type="number" name="order[quantity]">

    <label for="shipment_date">Shipment Date:</label>
    <input id="shipment_date" type="string" name="order[shipment_date]">


    <input type="submit" value="Submit">

</form>


<% if @order.errors %>
<%= @order.errors.full_messages %>
<% end %>
